.inp-wrapper {
    display: flex;
    flex-direction: column;
    width: 245px;
}

.input {
    font-size: 1em;
    padding: 5px;
    background: none;
    color: white;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
}

$placeholderColor: white;

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: $placeholderColor;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: $placeholderColor;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: $placeholderColor;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: $placeholderColor;
}