@import './app/common/styles/fonts/fonts.scss';

* {
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
    font-family: 'PTSansNarrow-R', serif;
}

.btn {
    padding: 13px 20px;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 1em;
    cursor: pointer;
}
