@font-face {
  font-family: 'PTSansNarrow-R';
  src: url('assets/fonts/PTSansNarrow-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PTSansNarrow-B';
  src: url('assets/fonts/PTSansNarrow-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
